# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# Dataset files
*.zip
*.tar
*.tar.gz
*.csv
datasets/
data/
output/
runs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# YOLO cache
*.cache
